/* Try different box model properties below */
body > div > div > div + p {
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

body > div > div > p {
  font-size: 12px;
  text-align: center;
}
.message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
